In [1]:
import sqlalchemy as sqa
import pandas as pd
creds = {
    'user': 'uckqu2uv0e2pp4',
    'password': 'pf2241e75f25f3ce3bdf7d6a60cf06dab12a09543fb0997f0c1b0b2d6cb4da9d5',
    'hostname': 'ec2-52-30-189-58.eu-west-1.compute.amazonaws.com',
    'db': 'd5srqo93idqsph'
}

engine = sqa.create_engine('postgresql://{user}:{password}@{hostname}:5432/{db}'.format(**creds))

ImportError: dlopen(/Library/Frameworks/Python.framework/Versions/2.7/lib/python2.7/site-packages/psycopg2/_psycopg.so, 2): Library not loaded: /Applications/Postgres.app/Contents/Versions/9.6/lib/libpq.5.dylib
  Referenced from: /Library/Frameworks/Python.framework/Versions/2.7/lib/python2.7/site-packages/psycopg2/_psycopg.so
  Reason: image not found

In [17]:
sql = """
select * 
from public.tickets 
join public.orders
    on public.tickets.order_id = public.orders.id
where public.tickets.email = 'ryan.moriarty@btinternet.com';
"""
dfo = pd.read_sql_query(sql, engine)
dfo

,id,order_id,charge_id,created_at,updated_at,type,first_name,last_name,email,sent_emailed_24before,sent_emailed_24after,sent_post_event_email,id,event_attendee_id,tickets_count,created_at,updated_at,type,promo_code_id,source
0,473289,245821,158524,2017-11-16 11:30:31.656463,2017-11-19 02:09:03.210921,Ticket,Ryan,Moriarty,ryan.moriarty@btinternet.com,True,None,True,245821,1207010,2,2017-11-16 11:30:31.650926,2017-11-16 11:30:31.650926,Order::Reservation,None,None
1,486786,252290,162300,2017-12-01 13:27:37.686524,2017-12-02 02:08:44.931916,Ticket,Ryan,Moriarty,ryan.moriarty@btinternet.com,True,None,True,252290,1238529,2,2017-12-01 13:27:37.684302,2017-12-01 13:27:37.684302,Order::Reservation,None,None

In [32]:
sql = """
select * from information_schema.tables where table_schema = 'public';
"""

tables_list = pd.read_sql_query(sql, engine)
tables_list
tables_list.to_csv('/Users/ryan/Google Drive/Personal/Testing/s_tables.csv',index=False,encoding='utf-8')

In [28]:
sql = """
select 
    public.cities.title as city_name,
    public.cities.cached_slug,
    public.events.*
from public.events
join public.cities
    on public.cities.id = public.events.city_id
where public.events.id = 15708;
"""

dfo = pd.read_sql_query(sql, engine)
dfo

,city_name,cached_slug,id,start,end,city_id,uuid,created_at,updated_at,is_published,...,special_event_url,test_type,auto_invite_on,maximum_promo_code_uses,maximum_guaranteed_promo_code_uses,maximum_custom_promo_code_uses,max_tickets_per_attendee,theme_id,accessible,promotion_type_id
0,London,london,15708,2017-12-21 20:00:00,None,48,None,2017-11-23 18:16:13.737106,2017-12-06 10:38:29.923025,True,...,,request_invite_flow,True,3,999,10,6,0,False,0

In [34]:
sql = """
select * from public.all_events where id = 15708;
"""

dfo = pd.read_sql_query(sql, engine)
dfo

,id,searchable_id,city_id,venue_id,start,searchable_type,start_utc,disable_reserve_tickets,is_appliable,is_confirmable
0,15708,15708,48,7019,2017-12-21 20:00:00,Event,2017-12-21 20:00:00,False,True,True

In [36]:
sql = """
select * from public.venues where id = 7019;
"""

dfo = pd.read_sql_query(sql, engine)
dfo

,id,address,city_id,rough_location,address_directions,map_url,street_view_url,closest_station,capacity,venue_type,...,host_name_for_email,latitude,longitude,status,confirmation_email_sent_at,user_id,terms_and_conditions_accepted_at,uuid,location_specificity,neighborhood_id
0,7019,"Flat 55, Exchange House, 71 Crouch End Hill, N...",48,Crouch End,The entrance is the gate between M&S and Evans...,"https://www.google.co.uk/maps/place/55,+Exchan...",,Crouch Hill,60,Home,...,,51.577118,-0.124422,accepted,2017-10-07 09:25:36.090070,275130,2017-10-07 10:28:10.080967,f3015ccd-b485-4d58-a43b-917de0e09771,address,None